section {
    text-align: center;
    
}

img.plato {
    height:500px;
    width:400px;
}

img.flores {
    height:550px;
    width:450px;
}

img.tablas {
    height: 400px;
    width: 400px;
}

img.cocina {
    height: 500px;
    width: 400px;
}

img.vino {
    height: 450px;
    width: 450px;
}

img.copas {
    height: 400px;
    width: 400px;
}

img.emily {
    height: 500px;
    width: 400px;
}

img.garcia {
    height: 450px;
    width: 450px;
}

img.papa {
    height: 400px;
    width: 400px;
}